@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-display: swap;
	src: url('chrome-extension://__MSG_@@extension_id__/assets/open-sans-latin-700-normal.woff2');
	font-weight: 700;
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
:root {
	--pictos-color-yellow: #F6C254;
	--pictos-color-blue: #004079;
	--pictos-color-blue-dark: #041C42;
	--pictos-font-family: 'Open Sans', sans-serif;
}
#pictos-overlay {
	display: flex;
	flex-direction: column-reverse;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var( --pictos-color-yellow );
	color: var( --pictos-color-blue-dark );
	z-index: 99999999999;
	padding: 9px;
	opacity: 0;
	transform: translateY(-100%);
	transition: all .35s ease-in-out;
	font-size: 14px;
	line-height: 1.375;
	gap: .5em;
}
@media (prefers-reduced-motion: reduce) {
	#pictos-overlay {
		transition: none;
		font-size: 16px;
	}
}
#pictos-overlay.pictos-overlay--visible {
	transform: translateY(0%);
	opacity: 1;
}
#pictos-overlay .pictos-overlay__text {
	padding-left: calc( 32px + .25rem );
	position: relative;
}
#pictos-overlay #pictos-overlay__message {
	flex-grow: 1;
	font-family: var( --pictos-font-family );
	font-weight: 700;
	color: var( --pictos-color-blue-dark );
	font-size: 16px;
	line-height: 22px;
	text-align: left;
}
#pictos-overlay .pictos-overlay__icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: .25rem;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none"><path fill="%23FADA98" stroke="%23004079" d="M.5 5.818A5.318 5.318 0 0 1 5.818.5h20.364A5.318 5.318 0 0 1 31.5 5.818v20.364a5.318 5.318 0 0 1-5.318 5.318H5.818A5.318 5.318 0 0 1 .5 26.182V5.818Z"/><ellipse cx="10.537" cy="14.439" fill="%23CAE0FF" rx="4.293" ry="2.732"/><ellipse cx="22.244" cy="14.439" fill="%23CAE0FF" rx="4.293" ry="2.732"/><path fill="%23004079" fill-rule="evenodd" d="M8.705 11.137a3.242 3.242 0 1 0 0 6.484h3.242a3.23 3.23 0 0 0 2.107-.778v4.02c0 1.208.98 2.188 2.189 2.188h.121a2.067 2.067 0 0 0 2.067-2.067v-.121a.567.567 0 0 0-.567-.568h-.027a.54.54 0 0 0-.54.54v.028a1.054 1.054 0 0 1-2.108 0v-6.565h-.001a3.242 3.242 0 0 0-3.241-3.161H8.705Zm5.35 3.242a2.107 2.107 0 0 0-2.108-2.108h-.78a2.432 2.432 0 1 1-4.48 1.498 2.107 2.107 0 0 0 2.018 2.716h3.242a2.107 2.107 0 0 0 2.107-2.106ZM9.11 12.27a1.297 1.297 0 1 0 0 2.594 1.297 1.297 0 0 0 0-2.594ZM20.052 11.137a3.242 3.242 0 0 0 0 6.484h3.242a3.242 3.242 0 1 0 0-6.484h-3.242ZM20.457 16a2.432 2.432 0 0 1-2.423-2.23 2.107 2.107 0 0 0 2.018 2.716h3.242a2.107 2.107 0 1 0 0-4.215h-.78A2.432 2.432 0 0 1 20.458 16Zm-1.297-2.432a1.297 1.297 0 1 1 2.594 0 1.297 1.297 0 0 1-2.594 0Z" clip-rule="evenodd"/></svg>');
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -16px;
	flex-shrink: 0;
}
#pictos-overlay .pictos-overlay__icon.pictos-overlay__icon--looking-right {
	transform: rotateY(180deg);
}
#pictos-overlay #pictos-overlay__cta {
	color: var( --pictos-color-blue );
	text-decoration: underline;
	margin-left: .25em;
	font-family: inherit;
	cursor: pointer;
}
#pictos-overlay .pictos-overlay__close {
	opacity: .6;
	font-family: var( --pictos-font-family ) !important;
	font-weight: 700;
	text-align: right;
}
.pictos-overlay__close::after {
	content: ' ✕';
}
.pictos-overlay__close:hover {
	opacity: 1;
	text-decoration: underline;
}
@media (min-width: 40rem) {
	#pictos-overlay {
		flex-direction: row;
		justify-content: space-between;
	}
	#pictos-overlay .pictos-overlay__text {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-grow: 1;
		padding-left: 0;
	}
	#pictos-overlay #pictos-overlay__message {
		flex-grow: unset;
	}
	#pictos-overlay .pictos-overlay__icon {
		position: relative;
		left: unset;
		top: unset;
		margin-top: unset;
	}
}